@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://vignette.wikia.nocookie.net/gameofthrones/images/5/50/Winterfell_Exterior.jpg/revision/latest?cb=20110705175851');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-size: cover;
}

code {
  font-family: 'Cinzel Decorative', cursive;
}
@media only screen and (max-width: 320px) {

  body { 
     font-size: 2em; 
  }

}
